.chip-component {
  font-weight: 600;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  height: 32px;
  color: #fff;
  border-radius: 16px;

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
  }
}
